.font-inter {
    font-family: "Inter", sans-serif;
}

.font-inika {
    font-family: "Inika", serif;
}

.font-kanit {
    font-family: "Kanit", sans-serif;
}

.font-poetsen {
    font-family: "Poetsen One", sans-serif;
}